demo_3.json
{
    "Comment": "Demo 3",
    "StartAt": "Begin",
    "States": {
        "Begin": {
            "Type": "Task",
            "Resource": "YOUR_LAMBDA_ARN",
            "Next": "CheckRespose"
        },

        "CheckRespose": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.statusCode",
                    "StringEquals": "200",
                    "Next": "Success"
                },
                {
                    "Variable": "$.statusCode",
                    "StringEquals": "403",
                    "Next": "Fail"
                }
            ],
            "Default": "Default"
        },

        "Success": {
            "Type": "Pass",
            "Result": {
                "status": 200,
                "message": "Success!"
            },
            "End": true
        },

        "Fail": {
            "Type": "Pass",
            "Result": {
                "status": 200,
                "message": "Fail."
            },
            "End": true
        },

        "Default": {
            "Type": "Pass",
            "Result": {
                "status": 200,
                "message": "Default"
            },
            "End": true
        }
    }
}